<!DOCTYPE html>
<html>
<head>
  <title>Atlas</title>
  <%= stylesheet_link_tag    "atlas/application", media: "all" %>
  <%= javascript_include_tag "atlas/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
